
/* custom */
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-30 {
    font-size: 30px;
}
.fs-36 {
    font-size: 36px;
}
.fs-28 {
    font-size: 28px;
} 
.fs-20 {
    font-size: 20px;
} 
.fs-24 {
    font-size: 24px;
} 
.fw-700{
    font-weight: 700;
}
.fw-350{
    font-weight: 350;
}
.fw-4{
    font-weight: 400;
}
.fw-55{
    font-weight: 550;
}
.mt-75{
    margin-top: 75px;
}
.mt-45{
    margin-top: 45px;
}
.mt-100{
    margin-top: 100px;
}
.mb-30{
    margin-bottom: 30px;
}
.ml-40{
    margin-left: 40px;
}
.mx-85{
    margin: 0px 85px;
}

.px-40{
    padding: 0px 40px;
}
.p-1-2{
    padding: 8px 15px;
}
.pb-10{
    padding-bottom: 20px;
}
.px-17{
    padding: 0px 17px;
}
.px-20pt{
    padding: 0px 20%;
}
.pr-40{
    padding: 0px 40px 0px 0px;
}
.pt-35{
    padding-top: 35px;
}
.pl-60{
    padding-left: 45px;
}
.pb-75{
    padding-bottom: 75px;
}

.p-5-15{
    padding: 8px 15px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-50{
    margin-bottom: 50px;
}

.letter-spacing-2{
    letter-spacing: 2.8px;
}
.letter-spacing-1{
    letter-spacing: 1.5px;
}
.letter-spacing-05{
    letter-spacing: 1px;
}
.letter-spacing-6{
    letter-spacing: 6px;
}

.text-shop {
    height: 100%;
}
.text-shop p{
    white-space: nowrap;
}
.font-style-oblique{
    font-style: oblique;
}

.container{
    max-width: 1500px;
    width: 100%;
    max-width: 100%;
}

.gap-15 {
    gap: 15px;
}
.gap-10 {
    gap: 10px;
}

.border-left {
    border-left: 1px solid #292929;
  }

.link-icon {
    width: 28px;
    aspect-ratio: 1;
}

/*-----------------------------------*\
  header main top
\*-----------------------------------*/
header .header-top {
    width  : 100%;
    height : 37px;
    padding: 10px;
}

header .header-top p {
    font-size     : 12px;
    line-height   : 17px;
    top: 0;
    left: 0;
}


/*-----------------------------------*\
  header main main
\*-----------------------------------*/
.header-main {
    height: 93px;
    padding: 20px 0px;
    font-size: 12px;
    line-height: 17px;
    z-index: 999;
    background-color: rgb(255, 255, 255);
}
.header-main .container{
    max-width: 2048px;
    padding: 0 40px;
}
.show-menu {
    display: block !important;
  }

.menu-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .menu {
    list-style: none;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu a {
    color: #000;
    text-decoration: none;
  }
  
  .show-menu {
    display: block !important;
  }





/*-----------------------------------*\
  header main left
\*-----------------------------------*/
.nav-bar-left{
    width: 35%;
}

.nav-bar-left ul{
    width: 100%;
    height: 100%;
}
.nav-bar-left ul  li{
    padding: 7.5px 15px;
    width: auto;
}
.nav-bar-left ul  li a{
    white-space: nowrap;
    letter-spacing: 2.5px;
    line-height: 17px;
}

/*-----------------------------------*\
  header main logo
\*-----------------------------------*/

.nav-bar-logo {
    width: 210px;
    height: 26px;
}
.nav-bar-logo h1{
    width: 30%;
    width: 219px;
    height: auto;
}

/*-----------------------------------*\
  header main right
\*-----------------------------------*/
.nav-bar-right{
    width: 35%;
}
.nav-bar-right ul {
    float: right;
}

.nav-bar-right ul  li a{
    font-size: 14px;

 }
.dropdown {
    padding: 0px 5px;
}

.dropdown-img {
    width: 24px;
    height: 24px;
}
.dropdown-img img {
    width: 100%;
    height: 100%;
}
/* dropdown */
.fa-chevron-down {
    transition: transform 0.3s ease;
}

.rotate180 {
    transform: rotate(180deg);
}
/*-----------------------------------*\
  slider
\*-----------------------------------*/
.slide{
    width: 100%;
    max-width: 100%;
    margin-top: 93px;
    height: 750px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.1); 
}
.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.overlay-body {
    width: 100vh;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: rgba(61, 60, 60, 0.89);
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.overlay2:hover{
    opacity: 1;
}



.carousel-item .text-item{
    top: 35%;
}

.carousel-inner img{
    display: block;
    height: 750px;
    width: 100%;
    z-index: 5;
    object-fit: cover;
    opacity: 1;
}
.text-item .name-slide{
    font-size: 80px;
}
.item1 a{
    border-radius: 0px;
    color: azure;
    background: none;
    padding: 10px 15px;
    border: 1px solid rgb(245, 243, 243);
}
.item2 a{
    border-radius: 0px;
    background-color: azure;
    color: black;
    border: none;
    letter-spacing: 3px;
    font-size: 14px;
    padding: 15px;
}
.item3 a{
    border-radius: 0px;
    color: azure;
    border: 1px solid rgb(245, 243, 243);
    letter-spacing: 3px;
    font-size: 14px;
    padding: 10px 20px;
}

.btn-next{
    /* background-color: transparent;
    border: none; */
    opacity: 0;
}

/*-----------------------------------*\
  main
\*-----------------------------------*/

.container {
    max-width: 1500px;
}
/* title */

.product-men .product-title{
    width: 100%;
    align-items: center;
    margin: 0px;
}
.product-women{
    height: 500px;
}
.product-men{
    height: 500px;
}
.product-women .product-title{
    width: 100%;
    align-items: center;
    margin: 0px;
}
.product-title h2{
    width: 100%;
    text-align: center;
    /* margin-bottom: 30px; */
}

.carousel-caption {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 1s ease;
}

.carousel-item.active .carousel-caption {
    opacity: 1;
    transform: translateY(0);
}
/* cart sanm phâm */
.product-wrapper {
    overflow-x: auto;
    display: flex;
    padding: 40px;
}
.product-wrapper .product-container {
    width: 100%;
}
.product-wrapper .product-container .product-card{
    width: 20%;
}

.product-card {
    box-sizing: border-box;
    min-width: 125px;
}

.star {
    color: rgb(255, 255, 0);
  }

.follow-intagram .container-fluid{
    margin: 0;
    padding: 0px 40px;
}

.shop-boot .container-fluid{
    margin: 0;
    padding: 0px 40px;
    gap: 22px;
}


.card-text-shop{
    font-size: 17.6px;
    font-weight: 370;
    letter-spacing: 3.5px;
}

.card-img-wrapper img {
    width: 100%;
    height: auto;
}


/* highlight */
.hight{
    width: 100%;
    height: auto;
    overflow: visible;
}
.image-highlight {
    max-width: 100%;
}

.box-image{
    width: 100%;
    height: auto;
}
.img1 , .img2{
    width: 50%;
}

.img1 img{
    width: 100%;
    height: 100%;
    transform: translate(50px, 50px);
}
.img2 img{
    width: 100%;
    height: 100%;
}

.hight a{
    font-size: 12px;
    padding: 8px 14px;
    letter-spacing: 3.5px;
    border-radius: 0;
    border: 1px solid rgb(194, 190, 190);
}
.hight a:hover{
    border: 1px solid rgb(0, 0, 0);
}
.highlight .text-highlight h2{
    font-size: 30px;
    font-weight: 370;
}

.highlight .text {
    border-bottom: 1px solid rgb(216, 205, 205);
}
.highlight .text h2{
   font-size: 30px;
   font-weight: 450;
}


/* boot */
.boot-sale main{
    padding: 0;
}

.boot-sale a{
    font-size: 12px;
    padding: 8px 14px;
    letter-spacing: 3.5px;
    border-radius: 0;
    border: 1px solid rgb(194, 190, 190);
}
.boot-sale a:hover{
    border: 1px solid rgb(0, 0, 0);
}
.bootsale .container-fluid{
    margin: 0px;
}

.shop-boot-content .container-fluid{
    width: 100%;
    padding: 0px;
    margin-left: 5px;
}
.shop-boot .shop-boot-content article {
    overflow: hidden;
}
.shop-boot .shop-boot-content article img{
    transition: transform 1s ease;
}
.shop-boot .shop-boot-content article:hover img{
    transform: scale(1.04);
}

/* footer */
.footer .container-fluid {
    line-height: normal;
}
.footer .container-fluid h2 {
    font-size: 12px;
    font-weight: 350;
}

.footer .container-fluid .text{
    padding-right: 5%;
}
.footer .container-fluid .text p {
    margin: 15px 0px;
}
.footer-main h2{
    font-size: 12px;
    font-weight: 350;
}
.footer-main .text{
    padding-right: 5%;
}
.form_email input{
    border: none;
    outline: none;
}
.email{
    border-bottom: 2px solid black;
}

.footer-end h6{
    font-size: 12px;
    font-weight: 350;
    letter-spacing: 1.5px;
}

.form_email {
    padding-right: 0px;
}

.email {
    justify-content: space-between;
}

.email input {
    margin: 0;
}



/*  */
/*-----------------------------------*\
        tablet: <1024px 
\*-----------------------------------*/
/* */
@media only screen and (max-width: 1025px) {
    header .header-top p {
        font-size     : 9px;
        line-height   : 17px;
        top: 0;
        left: 0;
    }

    .header-main {
       padding: 0;
    }
    .container{
        margin: 0px;
    }
    /* main left */
    .nav-bar-left ul{
        width: 100%;
        height: 100%;
    }
    .nav-bar-left ul  li{
        padding: 7.5px 7px;
        width: auto;
    }

    /* main logo */
    .nav-bar-logo {
        margin-left: 5%; 
    }
    .boot-sale{
        margin-top: 40px;
    }

    .form_email {
        padding-right: 0px;
    }


    .follow-intagram .product-title h2{
        padding-top: 30px;
    }
    .product-women{
        height: 270px;
    }
    .product-men{
        height: 270px;
    }
    .email {
        /* display: flex; */
        justify-content: space-between;
        align-items: center;
    }

    .email input {
        margin: 0;
    }

    /* highlight */
    .hight{
        margin-top: 75px;
    }
}

/*  */
/*--------------------rgb(8, 8, 8)
        mobile: <740px 
\*-----------------------------------*/
/* */
@media only screen and (max-width: 768px) {
    .header-main{
        padding: 0;
        max-width: 768px;
    }
    .container{
        margin: 0px;
    }
    /* main left */
    .nav_left_icon i{
        font-size: 30px;
    }
    .hub{
        max-width: 100% !important;
        flex-basis: calc(50% - 10px) !important;
    }
    
    .side-bar {
       width: 350px;
       height: 100vh;
       position: absolute;
       background-color: #ffffff;
       margin-left: -17px;
    }
    .menu li {
        border-top: 1px solid #bbb8b8af;
        padding: 10px 0px;
    }
    .menu li a {
        padding-top: 10px;
        font-size: 14px;
        font-weight: 350;
        letter-spacing: 2px;
    }
    
    /* main logo */
    .nav-bar-logo img{
       width: 100%;
       height: auto;
    }
    .header-main {
        padding: 0 17px !important;
    }
    .header-main .container {
        padding: 0;
    }

    /* slider */
  

    .product-main{
        max-width: 768px;
    }
    /* card */
    .product-wrapper{
        padding: 0;
    }

    .product-container {
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto; 
        padding-bottom: 20px; 
    }
    .product-card {
        flex: 0 0 auto;
        width: calc(50% - 20px);
        margin-right: 20px; 
    }
    .product-card:last-child {
        margin-right: 0; 
    }
    .card-img-wrapper {
        position: relative;
        display: inline-block;
    }
    .card-img-wrapper img {
        max-width: 100%; 
        height: auto;
    }
    .card-text-new {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 5px;
        z-index: 1;
    }
    .card-conten .star-rating{
        flex-wrap: nowrap;
    }

    .product-high-light .highlight .hight {
        padding: 0px;
    }
    .image-highlight{
        width: 200px;
        height: 200px;
        padding: 0px;
    }
    .image-highlight .box-image{
        margin: 0px;
    }
    .image-highlight .box-image img{
        width: 200px;
        height: 200px;
    }
    .follow-intagram .product-title h2{
        padding-top: 30px;
    }
    .product-men .product-title h2{
        padding-bottom: 30px;
    }
    .product-women .product-title h2{
        padding-bottom: 30px;
    }
    .product-men .product-title h2{
        padding-bottom: 30px;
    }

    /* boot shop */
    .shop-boot .shop-boot-content .nav-item {
        flex: 0 0 45%; 
        max-width: 50%; 
        padding: 0;
    }
    .shop-boot .shop-boot-content .nav-item p{
        font-size: 12px;
        padding: 5px 10px;
    }
    .follow-intagram .container-fluid{
        padding: 0 17px;
    }
    .shop-boot .container-fluid{
        gap: 20px;
        padding: 7px;
    }

    /* highlight */
    .highlight{
        margin-top: 40px;
    }
    .hight{
        padding: 0px;
    }
    .box-image{
        margin-right: 25px;
    }
    
    .product-high-light .highlight{
        padding: 0;
        margin: 0;
    }
    .product-high-light .highlight .hight{
        padding: 0 !important;
    }

    .hight .text{
        padding-left: 40px;
    }
    .text-highlight {
        padding: 100px 0px 0px 0px; 
    }
    .text-highlight .text-hight{
        padding: 0;
    }
    .text-highlight .hight-name{
        letter-spacing: 4px;
    }
    .highlight .text1 {
        border-bottom: none;
        padding: 20px;
    }
    .highlight .text{
        padding: 0px 17px;
    }
    .highlight .text h2{
        font-size: 26px;
        font-weight: 450;
    }
    /* boot */
    .boot-sale{
        padding: 0px;
    }

    /* footer */
    .form_email {
        padding-right: 0px;
    }

    .email {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .email input {
        margin: 0;
    }
    
}

/*  */
/*-----------------------------------*\
        mobile: <430px 
\*-----------------------------------*/
/* */
@media only screen and (max-width: 450px) {
    .header-main{
        height: calc(97px / 2);
    }
    .header-main .container{
        padding: 0;
    }
    .nav-bar-logo h1{
        width: 30%;
        width: 110px;
        height: auto;
        text-align: center;
    }
    .product-wrapper{
        max-width: 430px;
        padding: 0;
    }
    .product-women h2{
        font-size: 26px;
        padding-left: 15px;
    }
    .product-men h2{
        font-size: 26px;
    }
    
    .follow-intagram h2{
        font-size: 26px;
    }
    /* slide */

    


    /* card product */
    .product-main{
        margin: 40px 0;
    }
    .product-men{
        margin: 40px 0;
    }
    .star-rating {
        display: flex;
        flex-wrap: nowrap;
    }

      /* intagram */
    .follow-intagram {
        margin-top: 17px;
        margin-bottom: 40px;
    }
   
    .follow-intagram .container-fluid img{
        width: 100%;
        height: 100%;
    }
    .follow-intagram .product-title{
        margin-bottom: 0;
    }
    .follow-intagram .product-title h2{
        padding: 50px 0px 15px 0px;
    }

    /* boot */
    .shop-boot{
        margin-top: 0px;
        padding: 17px;
    }
    .shop-boot .shop2{
        margin-top: 0px;
    }
    .boot{
        padding: 0px;
    }
    .boot .navbar-light .container-fluid{
        margin: 0;
    }
    .shop-boot .container-fluid{
        gap: 20px;
        margin: 0;
        margin-top: 40px;
        padding: 0;
    }
    
    /* highlight */
    .hight .text {
        padding-left: 60px;
    }
    /* footer */
    .footer{
        margin: 0px;
    }
    .footer .site-footer-pc{
        display: none;
    }
    .site-footer-mobile{
        display: block;
    }
    .product-high-light .highlight{
        padding: 0;
        margin: 0;
    }
    .product-high-light .highlight .hight{
        padding: 0 !important;
    }
    .product-high-light .highlight .hight .box-image{
        margin-left: -30px;
    }

    .site-footer-mobile ul li{
        font-size: 10px;
        min-height: 67px;
        height: auto;
        padding-top: 11px;
        padding: 0 15px;
        border-top: 1px solid rgba(177, 177, 177, 0.589);
    }
    .site-footer-mobile ul li h6{
        font-size: 10px;
        letter-spacing: 3.5px;
        font-weight: 400;
        font-size: 11px;
        padding: 15px 0px 15px 15px;
    }
    .site-footer-mobile ul li p{
        margin: 0 !important;
        padding: 0 5px;
        font-size: 12px;
    }
    .site-footer-mobile ul li form{
        padding: 0 50px;
        margin-top: 10px;
    }
    .site-footer-mobile ul li a{
        margin: 0 !important;
        font-size: 12px;
    }
    .site-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .site-title .title {
        flex-grow: 1;
        text-align: center;
    }

    .site-title .icon {
        text-align: right;
        margin-top: -10px;
    }
}
