
/* custom */
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-30 {
    font-size: 30px;
}
.fs-36 {
    font-size: 36px;
}
.fs-28 {
    font-size: 28px;
} 
.fs-20 {
    font-size: 20px;
} 
.fs-24 {
    font-size: 24px;
} 
.fw-700{
    font-weight: 700;
}
.fw-600{
    font-weight: 600;
}
.fw-350{
    font-weight: 350;
}
.fw-4{
    font-weight: 400;
}
.fw-55{
    font-weight: 550;
}
.mt-75{
    margin-top: 75px;
}
.mt-45{
    margin-top: 45px;
}
.mt-80{
    margin-top: 80px;
}
.mt-100{
    margin-top: 100px;
}
.mb-30{
    margin-bottom: 30px;
}
.ml-40{
    margin-left: 40px;
}
.mx-85{
    margin: 0px 85px;
}
.mx-10{
    margin: 0px 10px !important;
}

.px-40{
    padding: 0px 40px;
}
.p-1-2{
    padding: 8px 15px;
}
.pb-10{
    padding-bottom: 20px;
}
.px-17{
    padding: 0px 17px;
}
.px-20pt{
    padding: 0px 20%;
}
.pr-40{
    padding: 0px 40px 0px 0px;
}
.pt-35{
    padding-top: 35px;
}
.pl-60{
    padding-left: 45px;
}
.pb-75{
    padding-bottom: 75px;
}

.p-5-15{
    padding: 8px 15px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-50{
    margin-bottom: 50px;
}

.letter-spacing-2{
    letter-spacing: 2.8px;
}
.letter-spacing-1{
    letter-spacing: 1.5px;
}
.letter-spacing-05{
    letter-spacing: 1px;
}
.letter-spacing-6{
    letter-spacing: 6px;
}

.text-shop {
    height: 100%;
}
.text-shop p{
    white-space: nowrap;
}
.font-style-oblique{
    font-style: oblique;
}

.container{
    max-width: 1500px;
    width: 100%;
    max-width: 100%;
}

.gap-15 {
    gap: 15px;
}
.gap-10 {
    gap: 10px;
}

.border-left {
    border-left: 1px solid #292929;
  }

.link-icon {
    width: 28px;
    aspect-ratio: 1;
}
