* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir Next;
    font-family: var(--typeBasePrimary), var(--typeBaseFallback);
}

.nav-bar {
    display: none;
}

.content {
    display: inline;
}

.first {
    font-size: calc(var(--typeBaseSize)* .75);
    position: relative;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-bottom-color: #e8e8e1;
}

.first h5 {
    padding: 10px;
    font-size: 12px;
}

.title {
    padding: 0;
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    text-align: center;
}

.title h5 {
    font-size: 30px;
}

.contai {
    width: 100%;
    height: 5%;
    align-items: center;
    text-align: center;
}

.container-fluid {
    max-width: 100%;
    display: flex;
}

div.container-fluid {
    padding: 0 0;
}

nav.navbar.navbar-expand-lg {
    padding: 0 0;
}

.container-group {
    display: inline-block;
}

.container {
    display: block;
}

.site_icon {
    padding: 0 10px;
}

.site-nav-icon a {
    color: black;
}

.site-nav-icon a:hover {
    color: black;
}

.site-nav .site-nav-icon {
    float: left;
    display: flex;
}

.site-nav-icon a i {
    padding: 8px 12px;
}

.dropdown {
    position: relative;
    float: right;
    display: flex;
    text-align: center
}

.nav-item dropdown {
    position: relative;
    display: flex;
    text-align: center
}

.site-nav-dropdown {
    align-items: center;
    display: flex;
}

.dropdown-eur-pp p {
    align-items: center;
    margin-top: 25px;
    padding: 5px;
}

.dropdown-img {
    display: flex;
    overflow: hidden;
    padding: 5px;
}

.dropdown-img img {
    width: 100%;
    width: 28px;
    height: 28px;
}

/* cart sanm phâm */
.product-wrapper {
    overflow-x: auto;
    display: flex;

}

.product-container {
    width: 100%;
    padding: 1% 5%;
    display: flex;
}

.product-card {
    width: 19.5%;
    flex: 0 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.card-img-wrapper {
    position: relative;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    /* opacity: 0; */
    background-color: #fff;
}

.card-img-wrapper img {
    width: 100%;
    height: auto;
}

.card-text-new {
    position: absolute;
    background-color: rgb(9, 9, 9);
    color: white;
    padding: 5px;
}

.women {
    margin-top: 3%;
}

.card-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

}

.card {
    width: 100%;
    background-color: aqua;
    border: none;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgab(0, 0, 0, 0.2);
    margin: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    font-size: 14px;
    padding: 10px;
}

.conten {
    position: absolute;
    background: rgb(111, 107, 114);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: 0.6s;
}

.conten:hover {
    opacity: 1;
}

.conten a {
    font-size: 45px;
    color: #ffe100;
    margin-bottom: 5%;
}


.star-rating {
    margin-top: 10px;
}

.star {
    color: gold;
    font-size: 18px;
}

.navbar-nav .nav-item {
    position: relative;

}

.card-text-shop {
    position: absolute;
    width: 60%;
    height: 10%;
    top: 50%;
    font-size: .8em;
    left: 50%;
    color: black;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-top: 1%;
}

#nav {
    padding: 5%;
}

.container-fluid .intagram {
    display: flex;
    width: 100%;
    margin-bottom: -100px;
}

.intagram .nav-item {
    width: 33%;
    height: 73%;
    display: flex;
    justify-content: center;
    /* Canh giữa theo chiều ngang */
    align-items: center;
    flex: 1;
}

.intagram .nav-item img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.shop .nav-item {
    flex-wrap: wrap;
    flex: 1;
    padding: 10px;
    margin-top: 2%;
}

.shop .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card1 {
    width: 17%;
    height: 17%;
    background-color: aqua;
}

.card img {
    width: 100%;
    height: 60%;
}

.highlight {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #acabab;
}

.highlight .hight {
    width: 90%;
    display: flex;
}

.col7 {
    margin-top: 5%;
    width: 65%;
    height: 350px;
    position: relative;
}

.box-img {
    width: 40%;
    height: 80%;
    background-color: #ffe100;
    position: absolute;
}

.image1 {
    margin-left: 50%;
    background-color: #000;
}

.image2 {
    margin-top: 10%;
    margin-left: 20%;
}



.col5 {
    width: 35%;
    height: auto;
    margin-top: 60px;
}

.hight-name {
    font-size: 14px;
    width: 100%;
    letter-spacing: 4.2px;
    line-height: 19.6px;
    height: auto;
    margin-top: 30%;
    text-align: left;
    text-transform: uppercase;
    line-height: 0.1em;
}

.hight-h1 {
    font-size: 36px;
    grid-area: auto;
    letter-spacing: 0.9px;
    line-height: 39.6px;
    margin: 0px 0px 15px;
    text-align: left;
    text-transform: uppercase;
}

.hight-maxine {
    font-size: 14px;
    grid-area: auto;
    letter-spacing: 0.35px;
    line-height: 19.6px;
    text-align: left;
}

.col5 .btn-hight {
    display: inline-block;
    width: 90px;
    height: 36px;
    font-size: 13px;
    grid-area: auto;
    line-height: 18.46px;
    margin: 15px 0px 0px;
    padding: 8px 10px;
    text-align: center;
}

.col5 h3 {
    font-size: 40px;
}

.col5 p {
    font-size: 16px;
}

.col5 button {
    width: 120px;
    height: 50px;
    font-size: 17px;
    border: 2px solid rgb(200, 190, 190);
}

.col5 button:hover {
    font-size: 18px;
    border: 2px solid black;
}




/* .box-image1 {
    width: 100%;
    height: 100%;
    margin-left: 28%;
    margin-top: 7%;
    overflow: hidden;
    align-items: center;
    float: left;
}

.box-image2 {
    margin-left: 10%;
    margin-top: 12%;
    overflow: hidden;
    align-items: center;
    float: left;
} */

.text {
    margin-top: 15%;
    text-align: center;
}

.text h2 {
    font-size: 28px;
}

.text p {
    margin-top: 2%;
    padding: 0% 20% 0% 20%;
    font-size: 14px;
}

.text h6 {
    font-size: 17px;
    font-style: oblique;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 5%;
}

.boot {
    width: 96%;
    height: 80%;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 1px solid #acabab;
}

.boot .nav-item {
    flex: 1;
    padding: 1% 0% 1% 0%;
}

.boot img {
    width: 100%;
    height: 450px;
    overflow: hidden;
    object-fit: cover;
    padding: 20px;
}

.boot li {
    text-align: center;
}

.boot li h1 {
    font-size: 30px;
}

.boot li p {
    font-weight: bold;
    font-size: 20px;
}

.boot button {
    width: 120px;
    height: 50px;
    font-size: 17px;
    border: 2px solid rgb(200, 190, 190);
}

.boot button:hover {
    font-size: 18px;
    border: 2px solid black;
}


.footer {
    margin-left: 3%;
    margin-top: 5%;
}

.footer h2 {
    font-size: 15px;
}

.footer h4 {
    font-size: 13px;
}

.footer h6 {
    font-size: 12px;
}

.footer p {
    font-size: 10px;
}

.form_email {
    width: 30%;
    height: 40%;
    font-size: 15px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.form_email:hover {
    border: 2px solid rgb(0, 0, 0);
}

.input-group input {
    width: 70%;
    border: none;
}

.input-group button {
    font-size: 15px;
    border: none;
}

.end {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
}

.col-4 .img img {
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

.nav-icon5 {
    text-decoration: none;
}



/* mobile: width <740px */
@media only screen and (max-width: 760px) {
    .header .first h5 {
        width: 100%;
        font-size: 13px;
    }

    .contai .contai1 {
        width: 33%;
    }

    .contai .contai2 {
        text-align: center;
        width: 33%;
    }

    .contai .contai2 img {
        text-align: center;
        width: 33%;
    }

    .contai .contai3 {
        width: 33%;
    }

    .contai1 .nav-bar {
        display: block;
    }

    .contai1 #nav-bar {
        display: none;

    }

    .navbar-nav.shop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        height: 25vh;
    }

    .card-text-shop {
        width: 60%;
        height: 10%;
        top: 50%;
        font-size: .5em;
        left: 50%;
        color: black;
        transform: translate(-50%, -50%);
        background-color: white;
        padding-top: 1%;
    }


    .navbar-nav.shop .nav-item {
        flex: 0 0 50%;
        padding: 1%;
        max-width: 400px;
    }

    /* .navbar-nav .nav-item {
        display: flex;
        flex-wrap: nowrap;
    } */

    /* .navbar-nav {
        display: block;
    } */

    .contai3 {
        float: right;
    }

    .eur_thanh {
        display: none;
    }

    .site-nav {
        margin-left: -5%;
    }

    .site_icon {
        padding: 0;
    }

    .nav-icon1 {
        display: none;
    }

    .nav-icon5 {
        display: none;
    }

    .nav-icon6 {
        display: none;
    }


    .container-fluid .boot {
        max-width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }

    .product-card {
        width: 170px;
        flex: 0 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .slider {
        height: 150%;
    }

    .title h5 {
        font-size: 18px;
    }

    .container-fluid .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .intagram {
        display: flex;
        width: 100%;
    }

    .nav-item {
        width: 100%;
        height: 100%;
    }

    .nav-item img {
        width: 100%;
    }

    .container-fluid .intagram {
        display: flex;
        width: 100%;
        margin-bottom: -50px;
    }


}

/* tablet: width <1024px */
@media only screen and (max-width: 1024px) {
    .nav-bar {
        display: none;
    }

    #nav-bar {
        display: block;
        font-size: 12px;
    }

    #nav-bar ul li a {
        margin: 5px;
        padding: 0;
    }

    .div.row.contai {
        padding: 0;
    }

    .contai3 {
        width: 100%;
    }

    .container-fluid {
        display: flex;
    }

    .contai .contai1 {
        width: 33%;
    }

    .contai .contai2 {
        text-align: center;
        width: 33%;
    }

    .contai .contai3 {
        width: 33%;
    }

    .nav-icon1 {
        display: none;
    }

    .nav-icon5 {
        display: none;
    }

    .nav-icon6 {
        display: none;
    }

    .card-container {
        width: 350px;
        height: 300px;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;

    }

    .product-card {
        width: 250px;
        flex: 0 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .navbar-nav.shop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
    }

    .card-text-shop {
        width: 50%;
    }

    .navbar-nav.shop .nav-item {
        flex: 0 0 50%;
        padding: 1%;
        max-width: 400px;
    }
    
    .highlight{
        margin-top: 300px;
    }
    .hight {
        width: 100%;
    }

    .col7 {
        width: 100%;
    }

    .box {
        width: 40%;
        height: 30%;
        position: absolute;
    }

    .box-image1 {
        width: 100%;
        margin-left: 28%;
        margin-top: 7%;
        overflow: hidden;
        align-items: center;
        float: left;
    }

    .box-image2 {
        width: 100%;
        margin-left: 10%;
        margin-top: 12%;
        overflow: hidden;
        align-items: center;
        float: left;
    }

    .hight {
        flex-direction: row;
    }

    .col7 {
        width: 70%;
    }

    .col5 {
        width: 30%;
    }

    .box-image1,
    .box-image2 {
        width: 100%;
    }

}