
/* custom */
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-30 {
    font-size: 30px;
}
.fs-36 {
    font-size: 36px;
}
.fs-28 {
    font-size: 28px;
} 
.fs-20 {
    font-size: 20px;
} 
.fs-24 {
    font-size: 24px;
} 
.fs-14 {
    font-size: 14px;
} 

.mt-75{
    margin-top: 75px;
}
.mt-45{
    margin-top: 45px;
}
.ml-40{
    margin-left: 40px;
}
.mx-85{
    margin: 0px 85px;
}

.px-40{
    padding: 0px 40px;
}
.px-17{
    padding: 0px 17px;
}
.px-20pt{
    padding: 0px 20%;
}
.pr-40{
    padding: 0px 40px 0px 0px;
}

.p-5-15{
    padding: 2px 15px;
}
.mb-50{
    margin-bottom: 50px;
}

.letter-spacing-2{
    letter-spacing: 2px;
}
.letter-spacing-1{
    letter-spacing: 1.5px;
}
.letter-spacing-05{
    letter-spacing: 1px;
}
.letter-spacing-6{
    letter-spacing: 6px;
}

.text-shop {
    height: 100%;
}
.text-shop p{
    white-space: nowrap;
}


.container{
    max-width: 1500px;
    width: 100%;
    max-width: 100%;
}

.gap-15 {
    gap: 15px;
}

.link-icon {
    width: 28px;
    aspect-ratio: 1;
}


/* header */
header{
    justify-content: center;
}

/*-----------------------------------*\
  header main top
\*-----------------------------------*/
header .header-top {
    width  : 100%;
    height : 37px;
    padding: 10px;
}

header .header-top h5 {
    font-size     : 11px;
    line-height   : 17px;
    letter-spacing: 1.5px;
    font-weight: 700;
}

/*-----------------------------------*\
  header main main
\*-----------------------------------*/
.header-main {
    width: 100%;
    height: 59px;
    padding: 20px 0px;
    font-size: 12px;
    line-height: 17px;
    display: flex;
}

/*-----------------------------------*\
  header main left
\*-----------------------------------*/
.nav_left_icon{
}

.nav_left_text{
    display: block;
}
.header-main .nav-bar-left .container-fluid{
    height:100%;
    padding: 0;
}

.nav-bar-left ul{
    width: 100%;
    height: 100%;
}
.nav-bar-left ul  li{
    padding: 7.5px 15px;
    width: auto;
    text-align: center;
    align-items: center;
}
.nav-bar-left ul  li a{
    white-space: nowrap;
    letter-spacing: 2.5px;
    line-height: 17px;
}




/*-----------------------------------*\
  header main logo
\*-----------------------------------*/

.nav-bar-logo {
    width: 210px;
    height: 26px;
}

.nav-bar-logo img {
    width: 100%;
    height: 100%;
}


/*-----------------------------------*\
  header main right
\*-----------------------------------*/

.nav-bar-right ul  li a{
    font-size: 14px;
 }
.dropdown {
    padding: 0px 5px;
}

.dropdown-img {
    width: 24px;
    height: 24px;
}
.dropdown-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-----------------------------------*\
  slider
\*-----------------------------------*/
.slider{
    width: 100%;
    max-width: 100%;
    height: 750px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.1); /* Sử dụng màu đen với độ mờ 0.5 */
}
.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.4); /* Sử dụng màu đen với độ mờ 0.5 */
    opacity: 0;
}

.overlay2:hover{
    opacity: 1;
}



.carousel-item .text-item{
    top: 35%;
}
.carousel-inner img{
    display: block;
    height: 750px;
    width: 100%;
    z-index: 5;
    object-fit: cover;
    opacity: 1;
}

.item1 button{
    color: azure;
    background: none;
    border: 1px solid rgb(245, 243, 243);
}

.item2 button{
    background-color: azure;
    color: black;
    border: none;
    letter-spacing: 3px;
    font-size: 14px;
    padding: 15px;
}
.item3 h5{
    font-size: 80px;
    /* font-weight: 700; */
}
.item3 button{
    color: azure;
    background: none;
    border: 1px solid rgb(245, 243, 243);
    letter-spacing: 3px;
    font-size: 14px;
    padding: 10px 20px;
}

/*-----------------------------------*\
  main
\*-----------------------------------*/

.main-content {
    display: flex;
    justify-content: center; /* Canh giữa ngang */
    align-items: center; /* Canh giữa dọc */
}
.container {
    max-width: 1500px;
    /* margin: 0 auto; Canh giữa ngang */
}
/* title */

.product-title{
    width: 100%;
    align-items: center;
}
.product-title h2{
    width: 100%;
    text-align: center;
}

/* cart sanm phâm */
.product-wrapper {
    overflow-x: auto;
    display: flex;
}

.product-card {
    box-sizing: border-box;
    min-width: 125px;
}

.follow-intagram .container-fluid{
    margin: 0;
    padding: 0px 40px;
}

.shop-boot .container-fluid{
    margin: 0;
    padding: 0px 40px;
    gap: 22px;
}


.card-text-shop{
    font-size: 17.6px;
    font-weight: 350;
    letter-spacing: 3.5px;
}

.card-img-wrapper img {
    width: 100%;
    height: auto;
}



/* highlight */

.hight{
    width: 100%;
    height: 566px;
    overflow: hidden;
}

/* 


.box-img1{
    z-index: 1;
}
.box-img1 img{
}
.box-img2{
    z-index: 0;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
} */

.image-highlight{
    width: 100%;
    max-width: 700px;
}
.box-img1, .box-img2{
    width: 50%;
}
.box-img1{
    padding-top: 10%;
    padding-left: 15%;
}


.hight a{
    font-size: 12px;
    padding: 8px 14px;
    letter-spacing: 3.5px;
    border-radius: 0;
    border: 1px solid rgb(194, 190, 190);
}
.hight a:hover{
    border: 1px solid rgb(0, 0, 0);
}
.highlight .text h2{
    font-size: 30px;
    font-weight: 370;
}
.highlight .text h6{
    font-size: 14px;
    font-weight: 700;
    font-style: oblique;
}

/* boot */
.boot a{
    font-size: 12px;
    padding: 8px 14px;
    letter-spacing: 3.5px;
    border-radius: 0;
    border: 1px solid rgb(194, 190, 190);
}
.boot a:hover{
    border: 1px solid rgb(0, 0, 0);
}


/* footer */
.footer .container-fluid {
    line-height: normal;
}
.footer .container-fluid h2 {
    font-size: 12px;
    font-weight: 350;
}

.footer .container-fluid .text{
    padding-right: 5%;
}
.footer .container-fluid .text p {
    margin: 15px 0px;
}
.footer-main h2{
    font-size: 12px;
    font-weight: 350;
}
.footer-main .text{
    padding-right: 5%;
}
.form_email input{
    border: none;
  outline: none;
}
.email{
    border-bottom: 2px solid black;
}

.footer-end h6{
    font-size: 12px;
    font-weight: 350;
    letter-spacing: 1.5px;
}

@media only screen and (max-width: 450px) {

    .product-wrapper{
        max-width: 430px;
    }

    .product-women h2{
        font-size: 26px;
        padding-left: 15px;
    }
    .product-men h2{
        font-size: 26px;
    }

    .follow-intagram h2{
        font-size: 26px;
    }

    .boot .navbar-light .container-fluid{
        margin: 0;
    }


    
}
/*  */
/*--------------------rgb(8, 8, 8)
        mobile: <740px 
\*-----------------------------------*/
/* */
@media only screen and (max-width: 768px) {
    .nav-bar-logo {
        width: calc(210px / 2);
        height: calc(26px / 2);
    }
    .container{
        margin: 0px;
    }
    /* main left */
    .nav_left_icon i{
        font-size: 30px;
    }

    
    /* main logo */
    .nav-bar-logo img{
       width: 100%;
       height: auto;
    }
    .header-main {
        padding: 0 17px !important;
    }

    /* card */
    
    .product-container {
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto; 
        padding-bottom: 20px; 
    }

    .product-card {
        flex: 0 0 auto;
        width: calc(50% - 20px);
        margin-right: 20px; 
    }

    .product-card:last-child {
        margin-right: 0; 
    }
    .card-img-wrapper {
        position: relative;
        display: inline-block;
    }
    .card-img-wrapper img {
        max-width: 100%; 
        height: auto;
    }
    .card-text-new {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 5px;
        z-index: 1;
    }

    /* boot shop */
    .shop-boot .navbar-light .nav-item {
        flex: 0 0 45%; /* Mỗi cột chiếm 50% width */
        max-width: 50%; /* Mỗi cột chiếm 50% width */
        padding: 0;
    }
    .shop-boot .navbar-light .nav-item p{
        font-size: 12px;
        padding: 5px 10px;
    }

    .shop-boot .container-fluid{
        gap: 34px;
    }

    .highlight .text{
        padding: 0px 17px;
    }
    .highlight .text h2{
        font-size: 26px;
    }

    /* highlight */
    /* .hight{
        display: inline-flex;
    } */
}

/*  */
/*-----------------------------------*\
        tablet: <1024px 
\*-----------------------------------*/
/* */
@media only screen and (max-width: 1025px) {


    .container{
        margin: 0px;
    }
    /* main left */
    .nav-bar-left ul{
        width: 100%;
        height: 100%;
    }
    .nav-bar-left ul  li{
        padding: 7.5px 7px;
        width: auto;
        text-align: center;
        align-items: center;
    }



    /* main logo */
    .nav-bar-logo {
        margin-left: 5%; 
    }


    .shop-boot .container-fluid{
        gap: 60px;
    }
    
}